version: "3.8"
services:
    database:
        image: mysql:8.0
        container_name: 'mysql'
        ports:
            - "3306:3306"
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: ct
networks:
    default:
        driver: bridge
